body{
    background-color: #FDF6EC ;
}
/* hr{
    background-color: #B7CADB;
    border-style: none;
    height: 1.5px;
    width: 100%;
} */
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1{
   color: #DAB88B;
}
h3{
    color: #DAB88B;
}